.card-detail{
    width: 90%;
    height: max-content;
    margin: 30px;
    background-color: #fbfafa;
    font-family: 'Archivo', sans-serif;
    display:flex;
    flex-direction:column;
}

.card-detail-text{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.card-detail-text h3{
    font-size: 17px;
}

.cards-detail-text p, h3, button{
    margin-top: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-detail-text button{
    padding: 15px;
    border-radius: 5px;
    font-size: 11px;
    background-color: rgb(255 220 134);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.card-detail-text p{
    font-size: 13px;
}

.card-detail-text button:hover{
    background-color: rgb(255, 192, 32);
    transition: all 0.4s;
}

.card-detail-image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    text-align: center;
}

.card-detail-image img{
    height: 200px;
    width: 100%;
}

.card-detail-image p{
    text-align: justify;
    margin-top: 30px;
    margin-left: 10px;
    font-weight:500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-count{
    width: 80%;
    background-color: #fbfafa;
    height: max-content;
}

.bton{
    margin-left: 50px;
}

@media (min-width: 700px) {
    .card-detail{
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 4px 4px black;
        height: 480px;
    }

    .card-detail-image img{
        height: 100%;
    }

}