.cart{
    margin: 5px;
    border: solid;
}

.content-cart{
    background-color: rgb(253, 253, 216);
}

.content-list-cart,.cart-price{
    background-color: white;
}

.conteiner-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.content-list-cart, .conteiner-cart{
    font-size: 10px;
}

.conteiner-cart li{
    text-align: center;
    list-style: none;
    color: white;
}

.msg-cart{
    font-size: 10px;
    text-align: center;
    margin: 20px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cart-price{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    margin-left: 30px;
}

@media (min-width: 700px) {
    .cart{
        margin: 5px 80px;
    }
    
    .msg-cart{
        font-size: 20px;
    }

    .content-list-cart, .conteiner-cart{
        font-size: 18px;
    }

    .cart-price{
        margin: 0;
        padding-left: 20px;
    }

}