.cart{
    margin: 20px 80px;
    border: solid;
}

.conteiner-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.conteiner-cart li{
    text-align: center;
    list-style: none;
    color: white;
}

.msg-cart{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cart-price{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    margin-left: 30px;
}