.content-list-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    padding: 10px;
    border: solid;
    border-color: whitesmoke;
}

.cart-list-img{
    height: 100%;
}

.cart-list-img img{
    height: 100%;
    width: 100%;
}

.cart-list{
    display: flex;
    place-items: center;
}

.content-button button{
    border-radius: 100%;
    font-size: 12px;
    padding: 10px;
    background-color: rgb(211, 0, 0);
    color: white;
    font-style:unset;
}

.content-button button:hover{
    background-color: rgb(255, 0, 0);
    transition: all 0.3s;
}