.container-count{
    background-color: rgb(255 220 134);
    border-radius: 10px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: auto;
    height: auto;
    margin-left:55px;
}

.container-count button{
    background-color: rgb(255 220 134);
    font-size: 20px;
    text-align: center;
    border: none;
    color: black;
}

.container-count span{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    color: black;
}
