.encabezado{
    background-image:url("../img/navbar.jpg");
    background-size: cover;
    height: 22vh;
    width: 100%;
}

.container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-main-list img{
    height: 40px;
    width: 50px;
    margin: 20px 0 5px 0;
}

.container-cart{
    padding: 20px;
    margin-right: 20px;
    height: 80px;
    width: 50px;
}

.container-cart img{
    width: 100%;
    height: 100%;
}

.contenedor-img{
    text-align: center;
}

.contenedor-img img{
    width: 60%;
    height: 60%;
}

.encabezado ul li{
    list-style: none;
    font-size: 15px;
    margin-left: 10px;
    padding-top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.main-list{
    display: flex;
    justify-content: end;
    margin-right: 2%;
}

.main-list li a{
    text-decoration: none;
    color:rgb(212, 181, 0);
}

.main-list li a:hover{
    color:rgb(255, 217, 0);
    transition: all 0.4s;
}

.container-list{
    display: flex;
    flex-direction: row;
    width:100%;
    height:auto;
    background-image: url("../img/navbar-list.jpg");
    background-size: cover;
}

.list{
    width: 100%;
    height: auto;
}

.list ul{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    height: auto;
}

.list ul li:hover{
    font-style: italic;
    transition: all 0.4s;
}

.main-list li{
    color:rgb(212, 181, 0);
    font-size: 7px;
    border-right: 2px dotted rgb(212, 181, 0);
    padding-right: 6px;
    cursor: pointer;
}

.main-list li:hover{
    color:rgb(255, 217, 0);
    transition: all 0.4s;
}

.container-list ul li a{
    text-decoration: none;
    color: white;
}

@media (min-width: 700px) {

    .encabezado{
        height: 26vh;
        z-index: 1;
    }

    .encabezado ul{
        margin-bottom: 0;
    }

    .encabezado ul li{
        font-size: 17px;
        margin: 5px 15px;
    }

    .container-main-list ul{
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .container-main{
        height: 95px;
    }

    .contenedor-img{
        width: 55%;
        height: 100%;
    }

    .contenedor-img img{
        width: 45%;
        height: 100%;
    }

    .scrolled{
        height: 70%;
        width: 35%;
        transition: 1s;
    }
}    